<h1> Edit <%= @drink.name %></h1>

<form action="/drinks/<%=@drink.id%>" method="POST">
	<label name="drink_name">Drink Name</label>
	<input type="text" name="name" value="<%= @drink.name %>">

	<input type="submit" value="submit">
</form>