<h2>Add Another Drink!</h2>


<form action="/drinks" method="POST">
	<label name="name">Name</label>
	<input type="text" name="name" id="name"><br>

	<label name="ingredients">Ingredients</label>
	<input type="text" name="ingredients" id="ingredients"><br>

	<input type="submit" value="submit">


</form>