<h3>Please Log In!</h3>

<form action="/login" method="POST">
	<label name="username">Username: </label>
	<input type="text" name="username" placeholder="Username: "><br>

	<label name="password">Password: </label>
	<input type="text" name="password" placeholder="Password: "><br><br>

	<input type="submit" value="Log In">

</form>