<h2>Welcome to Your Bar Profile!</h2>

<h3>Here are all of your favorite bars!</h3>
<% @user.bars.each do |bar| %>
		<ul>
			<li>
				<a href='/bars/<%= bar.id %>'><%= bar.name %> - <%= bar.address %>
			</li>
		</ul>
	
<% end %>