<h3>Please Sign Up!</h3>

<form action="/signup" method="POST">
	<label name="email">Email: </label>
	<input type="text" name="email" placeholder="Email: ">

	<label name="username">Username: </label>
	<input type="text" name="username" placeholder="Username: ">

	<label name="password">Password: </label>
	<input type="text" name="password" placeholder="Password: ">

	<input type="submit" value="Sign Up">

</form>